<h1>Managers page</h1>
<table>
	<thead>
		<tr>Name </tr>
	</thead>
	<tbody>
		<%@manager.each do |manager|%>
		<tr>
			<td><%=manager.name%></td>
			<td><%= link_to 'Show', manager %></td>
			<td><%= link_to 'Edit', edit_manager_path(manager) %></td>
			<td><%= link_to 'Destroy', manager, method: :delete, data: {confirm: 'Are you sure?'} %></td>
		</tr>
		<%end%>
	</tbody>
</table>