<!DOCTYPE html>
	<html>
	<head>
		<title>New Player</title>
	</head>
	<body>
		<h1>New player page</h1>

		<%= render 'form', player: @player %>
		<%= link_to 'Back', players_path %>

	</body>
</html>